* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 1200px;
    justify-content: center;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}
#counter {
    padding-top: 30px;
    background-color: darkgray;
    height: 500px;
    width: 500px;
    margin: 20px auto;
    border: black solid 5px;
}
.counter_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: blue solid 1px;
    background-color: orange;

}
#num {
    background-color: purple;
    border: black solid 1px;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 40px;
    width: 40px;
    height: 40px;
    text-align: center;
}